* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

header {
    background-color: #111;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cargo {
    font-size: 26px;
}

section {
    border-bottom:1px solid #4a4a4a;
    padding: 40px;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

ul {
    margin-left: 15px;
}

.Habilidades {
    display: flex;
    gap: 40px;
}

.Habilidade {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Projeto {
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.Projetos {
    display: flex;
    gap: 40px;
}

a {
    color: white;
}

a:hover{
    color: #9b9b9b;
}